/**
***************************************************************
* AUTHOR : NCodeArt
* PROJECT : NC-Hold Coming-Soon Page
* Purchase : http://www.ncodeart.com/
*
* Copyright 2015-2016 NCodeArt
* NOTE : This file licensed to NCodeArt - http://themeforest.net/user/ncodeart and it is strictly prohibited to copy or reuse it.
***************************************************************
*/
/**
*****************************************************************
* This file is licensed to NCodeArt.
* it's not allowed to copy or reuse it Copyright NCodeArt 2015-2016
* NCodeArt : http://www.ncodeart.com/
*****************************************************************
*/
/* Button colors
=========================*/
.btn-default {
  background-color: transparent;
  border-color: #4f87ff;
  color: #4f87ff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #4f87ff;
  border-color: #4f87ff;
  color: #ffffff;
}
.solid.btn-default {
  background-color: #4f87ff;
  border-color: #4f87ff;
  color: #ffffff;
}
.solid.btn-default:hover,
.solid.btn-default:focus,
.solid.btn-default:active,
.solid.btn-default.active {
  background-color: transparent;
  border-color: #4f87ff;
  color: #4f87ff;
}
.btn-primary {
  background-color: transparent;
  border-color: #f9a200;
  color: #f9a200;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9a200;
  border-color: #f9a200;
  color: #ffffff;
}
.solid.btn-primary {
  background-color: #f9a200;
  border-color: #f9a200;
  color: #ffffff;
}
.solid.btn-primary:hover,
.solid.btn-primary:focus,
.solid.btn-primary:active,
.solid.btn-primary.active {
  background-color: transparent;
  border-color: #f9a200;
  color: #f9a200;
}
.btn-secondary {
  background-color: transparent;
  border-color: #6cbc35;
  color: #6cbc35;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #6cbc35;
  border-color: #6cbc35;
  color: #ffffff;
}
.solid.btn-secondary {
  background-color: #6cbc35;
  border-color: #6cbc35;
  color: #ffffff;
}
.solid.btn-secondary:hover,
.solid.btn-secondary:focus,
.solid.btn-secondary:active,
.solid.btn-secondary.active {
  background-color: transparent;
  border-color: #6cbc35;
  color: #6cbc35;
}
.btn-dark {
  background-color: transparent;
  border-color: #1f2229;
  color: #1f2229;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  background-color: #1f2229;
  border-color: #1f2229;
  color: #ffffff;
}
.solid.btn-dark {
  background-color: #1f2229;
  border-color: #1f2229;
  color: #ffffff;
}
.solid.btn-dark:hover,
.solid.btn-dark:focus,
.solid.btn-dark:active,
.solid.btn-dark.active {
  background-color: transparent;
  border-color: #1f2229;
  color: #1f2229;
}
.btn-light {
  background-color: transparent;
  border-color: #e1f2fb;
  color: #e1f2fb;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  background-color: #e1f2fb;
  border-color: #e1f2fb;
  color: #ffffff;
}
.solid.btn-light {
  background-color: #e1f2fb;
  border-color: #e1f2fb;
  color: #ffffff;
}
.solid.btn-light:hover,
.solid.btn-light:focus,
.solid.btn-light:active,
.solid.btn-light.active {
  background-color: transparent;
  border-color: #e1f2fb;
  color: #e1f2fb;
}
.btn-white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1f2229;
}
.solid.btn-white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1f2229;
}
.solid.btn-white:hover,
.solid.btn-white:focus,
.solid.btn-white:active,
.solid.btn-white.active {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.solid.hov-btn-default:hover {
  background-color: #4f87ff;
  border-color: #4f87ff;
  color: #ffffff;
}
.solid.hov-btn-primary:hover {
  background-color: #f9a200;
  border-color: #f9a200;
  color: #ffffff;
}
.solid.hov-btn-secondary:hover {
  background-color: #6cbc35;
  border-color: #6cbc35;
  color: #ffffff;
}
.solid.hov-btn-dark:hover {
  background-color: #1f2229;
  border-color: #1f2229;
  color: #ffffff;
}
.solid.hov-btn-light:hover {
  background-color: #e1f2fb;
  border-color: #e1f2fb;
  color: #ffffff;
}
.solid.hov-btn-white:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1f2229;
}
/* Border other colors
=========================*/
.bdr-default,
.bdr-default.row-bdr,
.bdr-default.row-bdr > [class*="flex-col-"],
.bdr-default.row-sep > [class*="flex-col-"],
.bdr-default.form-control,
.bdr-default {
  border-color: #4f87ff;
}
.bdr-primary,
.bdr-primary.row-bdr,
.bdr-primary.row-bdr > [class*="flex-col-"],
.bdr-primary.row-sep > [class*="flex-col-"],
.bdr-primary.form-control,
.bdr-primary {
  border-color: #f9a200;
}
.bdr-secondary,
.bdr-secondary.row-bdr,
.bdr-secondary.row-bdr > [class*="flex-col-"],
.bdr-secondary.row-sep > [class*="flex-col-"],
.bdr-secondary.form-control,
.bdr-secondary {
  border-color: #6cbc35;
}
.bdr-dark,
.bdr-dark.row-bdr,
.bdr-dark.row-bdr > [class*="flex-col-"],
.bdr-dark.row-sep > [class*="flex-col-"],
.bdr-dark.form-control,
.bdr-dark {
  border-color: #1f2229;
}
.bdr-light,
.bdr-light.row-bdr,
.bdr-light.row-bdr > [class*="flex-col-"],
.bdr-light.row-sep > [class*="flex-col-"],
.bdr-light.form-control,
.bdr-light {
  border-color: #e1f2fb;
}
.bdr-white,
.bdr-white.row-bdr,
.bdr-white.row-bdr > [class*="flex-col-"],
.bdr-white.row-sep > [class*="flex-col-"],
.bdr-white.form-control,
.bdr-white {
  border-color: #ffffff;
}
/* Border other hover colors
=========================*/
.hov-bdr-default:hover,
.hov-bdr-default:hover.row-bdr,
.hov-bdr-default:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-default:hover.row-sep > [class*="flex-col-"],
.hov-bdr-default:hover.form-control,
.hov-bdr-default:focus.form-control,
.hov-bdr-default:hover {
  border-color: #4f87ff;
}
.hov-bdr-primary:hover,
.hov-bdr-primary:hover.row-bdr,
.hov-bdr-primary:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-primary:hover.row-sep > [class*="flex-col-"],
.hov-bdr-primary:hover.form-control,
.hov-bdr-primary:focus.form-control,
.hov-bdr-primary:hover {
  border-color: #f9a200;
}
.hov-bdr-secondary:hover,
.hov-bdr-secondary:hover.row-bdr,
.hov-bdr-secondary:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-secondary:hover.row-sep > [class*="flex-col-"],
.hov-bdr-secondary:hover.form-control,
.hov-bdr-secondary:focus.form-control,
.hov-bdr-secondary:hover {
  border-color: #6cbc35;
}
.hov-bdr-dark:hover,
.hov-bdr-dark:hover.row-bdr,
.hov-bdr-dark:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-dark:hover.row-sep > [class*="flex-col-"],
.hov-bdr-dark:hover.form-control,
.hov-bdr-dark:focus.form-control,
.hov-bdr-dark:hover {
  border-color: #1f2229;
}
.hov-bdr-light:hover,
.hov-bdr-light:hover.row-bdr,
.hov-bdr-light:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-light:hover.row-sep > [class*="flex-col-"],
.hov-bdr-light:hover.form-control,
.hov-bdr-light:focus.form-control,
.hov-bdr-light:hover {
  border-color: #e1f2fb;
}
.hov-bdr-white:hover,
.hov-bdr-white:hover.row-bdr,
.hov-bdr-white:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-white:hover.row-sep > [class*="flex-col-"],
.hov-bdr-white:hover.form-control,
.hov-bdr-white:focus.form-control,
.hov-bdr-white:hover {
  border-color: #ffffff;
}
/* Border utility
=========================*/
.bdr-t-glass {
  border-top-color: transparent;
}
.bdr-r-glass {
  border-right-color: transparent;
}
.bdr-b-glass {
  border-bottom-color: transparent;
}
.bdr-l-glass {
  border-left-color: transparent;
}
.bdr-n,
.bdr-n:hover,
.bdr-n:focus {
  border: none;
}
.bdr-t-n {
  border-top: none;
}
.bdr-r-n {
  border-right: none;
}
.bdr-b-n {
  border-bottom: none;
}
.bdr-l-n {
  border-left: none;
}
[class*="btn-"].bdr-glass,
[class*="btn-"].bdr-glass:hover,
[class*="btn-"].bdr-glass:focus {
  border-color: transparent;
}
/* Common typography
=========================*/
h1,
h2,
h3,
h4,
h5,
h6,
.hd-1,
.hd-2,
.hd-3,
.hd-4,
.hd-5,
.hd-6,
.title-sub {
  color: #1f2229;
}
.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light .title:not([class*="txt-"]),
.typo-light .title-sub:not([class*="txt-"]),
.typo-light .pg-path,
.typo-light .list-3:not([class*="txt-"]),
.typo-light .typo:not([class*="txt-"]),
.typo-light p:not([class*="txt-"]) {
  color: #ffffff;
}
/* List classes
=========================*/
.dark.list-2,
.dark.list-2 li > i {
  color: #1f2229;
}
/* Tag text
=========================*/
.tag-text {
  background-color: #1f2229;
  color: #ffffff;
}
/* Text colors
=========================*/
.txt-default,
.typo-light .txt-default,
.txt-default:hover {
  color: #4f87ff;
}
.txt-primary,
.typo-light .txt-primary,
.txt-primary:hover {
  color: #f9a200;
}
.txt-secondary,
.typo-light .txt-secondary,
.txt-secondary:hover {
  color: #6cbc35;
}
.txt-dark,
.typo-light .txt-dark,
.txt-dark:hover {
  color: #1f2229;
}
.txt-light,
.typo-light .txt-light,
.txt-light:hover {
  color: #e1f2fb;
}
.txt-white,
.typo-light .txt-white,
.txt-white:hover {
  color: #ffffff;
}
.txt-inherit {
  color: inherit;
}
/* Text hover colors
=========================*/
.hov-txt-default:hover {
  color: #4f87ff;
}
.hov-txt-primary:hover {
  color: #f9a200;
}
.hov-txt-secondary:hover {
  color: #6cbc35;
}
.hov-txt-dark:hover {
  color: #1f2229;
}
.hov-txt-light:hover {
  color: #e1f2fb;
}
.hov-txt-white:hover {
  color: #ffffff;
}
/* Link colors
=========================*/
.link-default,
a.link-default {
  color: #4f87ff;
}
.link-primary,
a.link-primary {
  color: #f9a200;
}
.link-secondary,
a.link-secondary {
  color: #6cbc35;
}
.link-dark,
a.link-dark {
  color: #1f2229;
}
.link-light,
a.link-light {
  color: #e1f2fb;
}
.link-white,
a.link-white {
  color: #ffffff;
}
@media (min-width: 992px) {
  .nav-sticky {
    background-color: #ffffff;
  }
  .nav-sticky {
    background-color: #1f2229;
  }
}
/* Background colors
=========================*/
.bg-default {
  background-color: #4f87ff;
}
.bg-primary {
  background-color: #f9a200;
}
.bg-secondary {
  background-color: #6cbc35;
}
.bg-dark {
  background-color: #1f2229;
}
.bg-light {
  background-color: #e1f2fb;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f4f5f5;
}
/* Background hover colors
=========================*/
.hov-bg-default:hover {
  background-color: #4f87ff;
}
.hov-bg-primary:hover {
  background-color: #f9a200;
}
.hov-bg-secondary:hover {
  background-color: #6cbc35;
}
.hov-bg-dark:hover {
  background-color: #1f2229;
}
.hov-bg-light:hover {
  background-color: #e1f2fb;
}
.hov-bg-white:hover {
  background-color: #ffffff;
}
.hov-bg-gray:hover {
  background-color: #f4f5f5;
}
.tab-style1 .default.tb-list {
  border-bottom-color: #4f87ff;
}
.tab-style1 .default.tb-list > li.active {
  background-color: #4f87ff;
  color: #ffffff;
}
.tab-style1.side-tab:not(.tb-r) .default.tb-list {
  border-right-color: #4f87ff;
}
.tab-style1.tb-r .default.tb-list {
  border-left-color: #4f87ff;
}
.tab-style2 .default.tb-list > li.active {
  border-color: #4f87ff;
  color: #ffffff;
}
.tab-style2.side-tab .default.tb-list > li.active {
  border-color: #4f87ff;
  color: #ffffff;
}
.tab-style3 .default.tb-list {
  background-color: #4f87ff;
}
.tab-style4 .default.tb-list > li.active {
  background-color: #4f87ff;
  border-color: #4f87ff;
  color: #ffffff;
}
.tab-style1 .primary.tb-list {
  border-bottom-color: #f9a200;
}
.tab-style1 .primary.tb-list > li.active {
  background-color: #f9a200;
  color: #ffffff;
}
.tab-style1.side-tab:not(.tb-r) .primary.tb-list {
  border-right-color: #f9a200;
}
.tab-style1.tb-r .primary.tb-list {
  border-left-color: #f9a200;
}
.tab-style2 .primary.tb-list > li.active {
  border-color: #f9a200;
  color: #ffffff;
}
.tab-style2.side-tab .primary.tb-list > li.active {
  border-color: #f9a200;
  color: #ffffff;
}
.tab-style3 .primary.tb-list {
  background-color: #f9a200;
}
.tab-style4 .primary.tb-list > li.active {
  background-color: #f9a200;
  border-color: #f9a200;
  color: #ffffff;
}
.tab-style1 .secondary.tb-list {
  border-bottom-color: #6cbc35;
}
.tab-style1 .secondary.tb-list > li.active {
  background-color: #6cbc35;
  color: #ffffff;
}
.tab-style1.side-tab:not(.tb-r) .secondary.tb-list {
  border-right-color: #6cbc35;
}
.tab-style1.tb-r .secondary.tb-list {
  border-left-color: #6cbc35;
}
.tab-style2 .secondary.tb-list > li.active {
  border-color: #6cbc35;
  color: #ffffff;
}
.tab-style2.side-tab .secondary.tb-list > li.active {
  border-color: #6cbc35;
  color: #ffffff;
}
.tab-style3 .secondary.tb-list {
  background-color: #6cbc35;
}
.tab-style4 .secondary.tb-list > li.active {
  background-color: #6cbc35;
  border-color: #6cbc35;
  color: #ffffff;
}
.tab-style1 .dark.tb-list {
  border-bottom-color: #1f2229;
}
.tab-style1 .dark.tb-list > li.active {
  background-color: #1f2229;
  color: #ffffff;
}
.tab-style1.side-tab:not(.tb-r) .dark.tb-list {
  border-right-color: #1f2229;
}
.tab-style1.tb-r .dark.tb-list {
  border-left-color: #1f2229;
}
.tab-style2 .dark.tb-list > li.active {
  border-color: #1f2229;
  color: #ffffff;
}
.tab-style2.side-tab .dark.tb-list > li.active {
  border-color: #1f2229;
  color: #ffffff;
}
.tab-style3 .dark.tb-list {
  background-color: #1f2229;
}
.tab-style4 .dark.tb-list > li.active {
  background-color: #1f2229;
  border-color: #1f2229;
  color: #ffffff;
}
.tab-style1 .light.tb-list {
  border-bottom-color: #e1f2fb;
}
.tab-style1 .light.tb-list > li.active {
  background-color: #e1f2fb;
  color: #ffffff;
}
.tab-style1.side-tab:not(.tb-r) .light.tb-list {
  border-right-color: #e1f2fb;
}
.tab-style1.tb-r .light.tb-list {
  border-left-color: #e1f2fb;
}
.tab-style2 .light.tb-list > li.active {
  border-color: #e1f2fb;
  color: #ffffff;
}
.tab-style2.side-tab .light.tb-list > li.active {
  border-color: #e1f2fb;
  color: #ffffff;
}
.tab-style3 .light.tb-list {
  background-color: #e1f2fb;
}
.tab-style4 .light.tb-list > li.active {
  background-color: #e1f2fb;
  border-color: #e1f2fb;
  color: #ffffff;
}
.tab-style1 .white.tb-list {
  border-bottom-color: #ffffff;
}
.tab-style1 .white.tb-list > li.active {
  background-color: #ffffff;
  color: #1f2229;
}
.tab-style1.side-tab:not(.tb-r) .white.tb-list {
  border-right-color: #ffffff;
}
.tab-style1.tb-r .white.tb-list {
  border-left-color: #ffffff;
}
.tab-style2 .white.tb-list > li.active {
  border-color: #ffffff;
  color: #1f2229;
}
.tab-style2.side-tab .white.tb-list > li.active {
  border-color: #ffffff;
  color: #1f2229;
}
.tab-style3 .white.tb-list {
  background-color: #ffffff;
}
.tab-style4 .white.tb-list > li.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1f2229;
}
.tab-style1 .gray.tb-list {
  border-bottom-color: #f4f5f5;
}
.tab-style1 .gray.tb-list > li.active {
  background-color: #f4f5f5;
  color: #1f2229;
}
.tab-style1.side-tab:not(.tb-r) .gray.tb-list {
  border-right-color: #f4f5f5;
}
.tab-style1.tb-r .gray.tb-list {
  border-left-color: #f4f5f5;
}
.tab-style2 .gray.tb-list > li.active {
  border-color: #f4f5f5;
  color: #1f2229;
}
.tab-style2.side-tab .gray.tb-list > li.active {
  border-color: #f4f5f5;
  color: #1f2229;
}
.tab-style3 .gray.tb-list {
  background-color: #f4f5f5;
}
.tab-style4 .gray.tb-list > li.active {
  background-color: #f4f5f5;
  border-color: #f4f5f5;
  color: #1f2229;
}
